
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  background-color: rgb(220, 211, 210);
  margin: 0;
  height: auto;
  width: 100vw;
  font-family: "Roboto Condensed", sans-serif;
}
.first-page {
  display: flex;
  padding: 0;
  margin: 0;
  width: 50vw;
  height: 800px;
  justify-content: center;
}

p {
  color: rgb(151, 158, 158);
  line-height: 0.25;
  margin-top: 10px;
  margin-bottom: 30px;
}
h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
}

#header {
  text-align: center;
  background-color: rgb(59, 57, 57);
  margin-left: 250px;
  margin-right: 231px;
  color: aliceblue;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 60vw;
  display: inline-block;
}
#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}
.text-left {
  width: 40%;
  padding-top: 250px;
  text-align: center;
  background-color: white;
}

.btn {
  margin-top: 20px;
  padding-left: 40px;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  border-radius: 30px;
  background-color: white;
}

.first-right {
  width: 10vw;
}
.image {
  width: 500px;
  height: 800px;
}

.img {
  margin-left: 250px;
  margin-right: 180px;
  width: 60vw;
  height: 500px;
  padding-top: 0px;
  margin-bottom: -5px;
}

.caption {
  text-align: center;
  background-color: aliceblue;
  margin-left: 250px;
  margin-right: 300px;
  width: 60vw;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.caption p {
  color: rgb(19, 6, 6);
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
  letter-spacing: 0.2px;
}

footer p {
  color: #000;
  font-family: sans-serif;
}
